body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.fh{
    font-size: 60px;
}
.salam{
    color: orange;
}
.p-text{
    text-align: justify;
}
.section-flxi{
    display: flex;
    margin-bottom:150px;
    padding: 20px;
}
.first-page{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second-page{
    background-image: url(images/dream-bg1.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
.fsv1{
    padding: 20px;
    margin-right: 70px;
}
.fsv{
    width: 50%;
}
.fsv img{
    width: 85%;
}
.exp{
    text-align: center;
    font-size: 30px;
}
.fvs-exp h3{
    font-size: 35px;
}
.fvs-exp h4{
    color: orange;
}
.fvs-exp{
    width: 40%;
    padding: 2%;
    margin-left: 4%;
    box-shadow: 5px 5px 40px gray;
    border-radius: 10px;
}
.exp-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 0% 85%;
}
#exp-web{
    border-left: 6px solid;
    border-image: linear-gradient(orange, orangered);
    border-image-slice: 1;
}
#exp-pro{
    border-left: 6px solid;
    border-image: linear-gradient(blue,skyblue);
    border-image-slice: 1;
}